@import "tailwindcss";
@plugin "daisyui";

* {
  outline: 0.1px solid red;
}

@theme {
  --shadow-main: hsla(0, 0%, 0%, 0.7) 3px 3px;
  --font-roboto: "Roboto Mono";
  --font-inconsolata: "Inconsolata";
  --color-lavender: hsl(267, 90%, 75%);
  --color-light-yellow: hsl(41, 100%, 78%);
  --color-rose: hsl(354, 100%, 78%);
  --animate-tick: tick 500ms infinite alternate;
  --animate-currency: autoScrolling 10s infinite cubic-bezier(1, 0, 0, 1);
  @keyframes autoScrolling {
    0%,
    6.5%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    13%,
    19.5% {
      transform: translate3d(0, -12.6%, 0);
    }
    26%,
    32.5% {
      transform: translate3d(0, -25.2%, 0);
    }
    39%,
    45.5% {
      transform: translate3d(0, -37.8%, 0);
    }
    52%,
    58.5% {
      transform: translate3d(0, -50.4%, 0);
    }
    65%,
    71.5% {
      transform: translate3d(0, -63%, 0);
    }
    78%,
    84.5% {
      transform: translate3d(0, -75.5%, 0);
    }
    91%,
    97.5% {
      transform: translate3d(0, -87.5%, 0);
    }
  }
  @keyframes tick {
    0% {
      transform: rotate(30deg);
    }

    100% {
      transform: rotate(-30deg);
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.writingMode {
  text-orientation: upright;
  writing-mode: vertical-lr;
}
