@import "tailwindcss";
@plugin "daisyui";

/* * {
  outline: 0.1px solid red;
} */

@media (max-width: 600px) {
  .Toastify__toast-container {
    width: 100vw !important;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast {
    width: 70vw !important;
    margin: 8px auto;
    border-radius: 8px;
  }
}

@theme {
  --shadow-main: hsla(0, 0%, 0%, 0.7) 3px 3px;
  --font-roboto: "Roboto Mono";
  --font-inconsolata: "Inconsolata";
  --color-lavender: hsl(267, 90%, 75%);
  --color-light-yellow: hsl(41, 100%, 78%);
  --color-rose: hsl(354, 100%, 78%);
  --animate-tick: tick 500ms infinite alternate;
  --animate-currency: autoScrolling 10s infinite cubic-bezier(1, 0, 0, 1);
  @keyframes autoScrolling {
    0%,
    20%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    20%,
    40% {
      transform: translate3d(0, -20%, 0);
    }
    40%,
    60% {
      transform: translate3d(0, -40%, 0);
    }
    60%,
    80% {
      transform: translate3d(0, -60%, 0);
    }
    80%,
    99% {
      transform: translate3d(0, -80%, 0);
    }
  }
  @keyframes tick {
    0% {
      transform: rotate(30deg);
    }

    100% {
      transform: rotate(-30deg);
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .writingMode {
  text-orientation: upright;
  writing-mode: vertical-lr;
} */
