@import "tailwindcss";
@plugin "daisyui";

/* * {
  outline: 0.1px solid red;
} */

@theme {
  --shadow-main: hsla(0, 0%, 0%, 0.7) 3px 3px;
  --font-roboto: "Roboto Mono";
  --font-inconsolata: "Inconsolata";
  --color-lavender: hsl(267, 90%, 75%);
  --color-light-yellow: hsl(41, 100%, 78%);
  --color-rose: hsl(354, 100%, 78%);
  --animate-tick: tick 500ms infinite alternate;
  --animate-currency: autoScrolling 10s infinite cubic-bezier(1, 0, 0, 1);
  @keyframes autoScrolling {
    0%,
    7%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    14%,
    21% {
      transform: translate3d(0, -15%, 0);
    }
    28%,
    35% {
      transform: translate3d(0, -29%, 0);
    }
    42%,
    49% {
      transform: translate3d(0, -43%, 0);
    }
    56%,
    63% {
      transform: translate3d(0, -58%, 0);
    }
    70%,
    77% {
      transform: translate3d(0, -72%, 0);
    }
    84%,
    91% {
      transform: translate3d(0, -86%, 0);
    }
  }
  @keyframes tick {
    0% {
      transform: rotate(30deg);
    }

    100% {
      transform: rotate(-30deg);
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .writingMode {
  text-orientation: upright;
  writing-mode: vertical-lr;
} */
